<!DOCTYPE html>
<html>
    <head>
    <title> foodie's delight </title>
    <style>
        body {
            color:
        }
    </head>
    <body>
    <header>
        <nav>
        <img src="", alt="restaurant logo" class="logo"/>
            <a href="{% url, 'home' %}"> home </a>
            <a href="{% url, 'about}"> about </a>
            
                    <h1> welcome to foodies delight restaurant </h1>
                    <p> we are happy to serve you </p>
                    <p> call us: <a href="tel:{{restaurant_phone}}"> 12345678 </a> </p>
    </header>
        <footer style= "text-align:center; padding=20px; background-color:#f1f1f1f1">
            &copy <span id="2025"> </span> ALL RIGHTS RESERVED
        </footer>
    </body>
</html>