body
{
    margin: 0cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
    background: fixed;
    color: black;

}
header
{
    background-color: aliceblue;
    color: ;
    padding: ;
    text-align: ;
}

